---
import Container from "./Container.astro";
import { range } from "../utils/utils";
import { random } from "../utils/random";
function getStyle(size: number, color: string) {
  return `width: ${size}px; height: ${size}px; background-color: ${color};`;
}
---

<section class="hero">
  <Container>
    <div class="hero__box">
      <h1 class="hero__title">Grid cheat-shet</h1>
      <div class="wrapper">
        {
          range(1, 100).map((box) => {
            let size = random(10, 60);
            let randomColor = `#${Math.floor(Math.random() * 16777215).toString(
              16
            )}`;
            return (
              <div class="inner__box" style={getStyle(size, randomColor)} />
            );
          })
        }
      </div>
    </div>
  </Container>
</section>

<style>
  .hero {
    margin-block-end: 40px;
  }
  .wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
  .hero__box {
    padding-block-start: 50px;
    display: grid;
    place-items: center;
  }
  .hero__title {
    display: block;
    color: var(--black, #1b1b1b);
    font-family: "Patrick Hand";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    margin-block-end: 20px;
  }
</style>
